{% extends 'base.html.twig' %}


{% block body %}
    <div style="display: flex;align-content: center;justify-content: center">
        <div style="padding-top: 50px;flex-direction: column;">
            <h1>Inscription sur le site</h1>

            {{ form_start(form) }}
             {{  form_row(form.username,{'label':'Nom d\'utilisateur','attr': {
                    'style' : 'width:500px','placeholder':'Nom d\'utilisateur ' }} ) }}
            {{ form_row(form.email, {'attr':{'placeholder':'Adresse email ...', 'style' : 'width:500px',}}) }}
            {{ form_row(form.password,{'label':'mot de passe','attr': {'placeholder':'mot de passe', 'style' : 'width:500px',}}) }}
            {{ form_row(form.confirm_password,{'label':'confirmer mot de passe','attr': {'placeholder':'confirmer mot de passe', 'style' : 'width:500px',}}) }}
        </div>
    </div>
    <div style="padding-top: 50px;display: flex;align-content: center;justify-content: center">
    <button type="submit" class="btn btn-success"> Inscription </button>
    <div>
    {{ form_end(form) }}

{% endblock %}