{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>Le blog est une ressource en ligne dédiée aux passionnés de ski et de freestyle. Il est conçu pour offrir une expérience utilisateur optimale, avec une interface utilisateur intuitive et facile à naviguer. Les articles sont régulièrement publiés sur les dernières tendances et actualités du monde du ski, écrits par des professionnels de l'industrie, des athlètes de renom et des experts en freestyle, offrant ainsi un contenu de qualité supérieure aux utilisateurs.

    Les articles sur le blog couvrent une large gamme de sujets, allant des figures de ski et des astuces pour les skieurs débutants et avancés, aux équipements de ski, aux conditions de neige et aux stations de ski à travers le monde. Les utilisateurs peuvent également trouver des conseils sur la planification de voyages de ski et des informations sur les dernières tendances de l'industrie.

    Le blog offre également une plateforme communautaire pour les skieurs passionnés, où ils peuvent se connecter, échanger des conseils et partager leur amour pour le sport. Les utilisateurs peuvent commenter les articles, poser des questions et partager leurs propres expériences de ski.

    En somme, le blog est une ressource essentielle pour les skieurs de tous niveaux, offrant des informations, des conseils et des astuces sur les figures de ski, ainsi que sur les dernières tendances et actualités de l'industrie. La communauté en ligne de skieurs passionnés sur le blog offre également un endroit où les skieurs peuvent se connecter, échanger des conseils et partager leur amour pour le sport.</p>



    <section class="articles">

        <h1 class="flex flex-wrap justify-center mb-16 text-7xl p-2 " > Les tricks </h1>
        <div style=" display: grid;grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));grid-gap: 20px;">
        {% for trick in tricks  %}
            <article style="display: grid; grid-template-rows: max-content 200px 1fr;">
                <a href="{{ path('tricks_show',{'id': trick.id}) }}">
                {% if trick.image > 0 and (asset("images/tricks/#{trick.id}/1.jpg") | ondisk) == true %}
                    <img  height="200" width="200" style=" object-fit: cover" src="{{ asset("images/tricks/#{trick.id}/1.jpg") }}" />
                {% else %}
                    <img height="200" style=" object-fit: cover" src="https://picsum.photos/200"  />
                {% endif %}
                <h4>{{trick.name}}</h4>
                <div>
                    <div class="metadata">Ecrit le {{ trick.createdAt | date('d/m/y') }} à {{trick.createdAt | date('H:i') }} </div>
                    {% if  app.user %}
                    <a href="{{ path('tricks_delete',{'id': trick.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg> </a>
                    {% endif %}
                    {% if  app.user %}
                        <a href="{{ path('tricks_edit',{'id': trick.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg> </a>
                    {% endif %}
                </div>
                </a>
            </article>
        {% endfor %}
        </div>
    </section>

{% endblock %}