{% extends 'base.html.twig' %}

{% block body %}

    <articles>
        <h2>{{ trick.name }}</h2>
        {% if app.user %}
        <div style="display: flex;align-items: end;justify-content: end">
            <a href="{{ url('tricks_edit',{'id': trick.id } ) }}">
            <svg xmlns="http://www.w3.org/2000/svg"  width="20" height="20" viewBox="0 0 576 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/></svg>
            </a>
        </div>
        {% endif %}
            {% if trick.image > 0 and (asset("images/tricks/#{trick.id}/1.jpg") | ondisk) == true %}
                <img  height="500" width="100%" style="object-fit: contain"  src="{{ asset("images/tricks/#{trick.id}/1.jpg") }}" />
            {% else %}
                <img  height="500" width="100%" style=" object-fit: contain" src=" https://picsum.photos/500"  />
            {% endif %}
        <div style="display: flex; grid-template-columns: max-content 260px 1fr;">
            {% if trick.image > 2 %}
            {% for i in 2..trick.image -1 %}
            <div style="display: flex;flex-direction: row">
                {% if not  (asset("images/tricks/#{trick.id}/#{i}.jpg") | ondisk) == false %}
                <div style="display: flex;flex-direction: column">
                    <img height="150" width="250" src="{{ asset("images/tricks/#{trick.id}/#{i}.jpg") }}"/>
                </div>
        {% endif %}
            </div>
        {% endfor %}
        {% endif %}
        {% if trick.video %}
            {% set viedo = trick.video|split('|') %}
            {% for key,value in viedo %}
                <div style="display: flex;flex-direction: column;padding-left: 5px">
                    <iframe width="250" height="150" src="https://www.youtube.com/embed/{{ value }}"></iframe>
                </div>
            {% endfor %}
        {% endif %}
        </div>

        <div style="align-content: center">  {{ trick.content }} </div>
    </articles>

    <div style="display: flex;justify-content: center;align-items: center" class="metadata">Ecrit le {{ trick.createdAt | date('d/m/y') }} à {{trick.createdAt | date('H:i') }} dans la catégorie
        {{ trick.category.title  }} par {{ trick.user.username }}
        {%  if not (trick.updateAt is empty)  %}
            modifier  le {{ trick.updateAt | date('d/m/y') }} à {{trick.updateAt | date('H:i') }}
        {% endif %}
        {# if modifier mettre le text#}
    </div>

    <hr style="width: 10%;margin: auto; width: 750px;border-top: 3px solid #000;">

   <section id="commentaire">

       {% if app.user %}
           <div style="display: flex; justify-content: center;align-items: center">
               {{ form_start(commentForm) }}
               {{ form_row(commentForm.text , {'label':" ",'attr': {'placeholder': "Votre commentaire"}}) }}
               <button type="submit" class="btn btn-success" > laisser un commentaire </button>
               {{ form_end(commentForm) }}
           </div>
       {% endif %}
       <hr style="width: 10%;margin: auto; width: 750px;border-top: 3px solid #000;">
       <div style="display: flex;flex-direction: column;justify-content: center;align-items: center">
       <h1>{{ trick.comments | length }} Commentaire :</h1>
       {% for comment in paginator %}
           <div class="comment">
               <img style="height: 50px;width: 50px;border-radius: 9999px;"   src="{{ asset("images/user/#{comment.user.id}/toto.jpg") }}" />
               {{ comment.user.username }} (<small> {{ comment.createdAt | date('d/m/y à H:i') }} </small>)
                {{ comment.text | raw }}
           </div>
       {% endfor %}
           <div class="navigation">
               {{ knp_pagination_render(paginator) }}
           </div>
       </div>

   </section>
{% endblock %}
